 body {
    font-family: 'Nunito Sans', sans-serif;
 
    font-size: 2em;

     margin: 0 !important;
     padding: 0;
      
 }

 
 .GBtitle {
    font-family: 'Lilita One', cursive;
    
 }


 .container-fluid {
     margin: 0 !important;
     padding: 0;

 }

 .menu {
     background-color: rgb(254, 254, 254);
     margin: 0;

 }


 .logoBanner {
     display: flex;
     justify-content: start;
     align-items: center;
     width: 70px;
     height: 70px;
 }

 .cuerpo {
     background-color: rgb(0, 0, 0);
     color: rgb(0, 0, 0);

     display: flex;
     justify-content: center;
     align-items: center;

     font-size: 0.5em;

     object-fit: cover;

 }

 .formulario {
     padding: 2em;
     margin: 3em;
     margin-top: 0;

     background-color: rgb(200, 200, 200);
     border-radius: 10%;
     border: 0.2em solid black;
     color: black;
 }

 #floatingTextarea2 {
     height: 30px;
     width: 100%;
     resize: none;
 }

 .help {
     padding: 1em;
     color: #fff;
   

 }

 .carousel-image {
     height: 300px;
     /* Cambia esto al alto deseado */
 }


 .cajaf1 {

     margin: 0;
     padding: 0.5em;
     height: auto;
     color: #fff;
     padding-top: 1em;

 }


 .pie {
     height: 1em;
     background-color: black;
     font-size: 0.5em;
 }

 .imgvida {
     border-radius: 15%;
     height: 20;
     padding: 1em;
      
 }

 .historia {
     padding-top: 1em;
     margin-top: 1em;
     text-align: justify;
     font-size: 1.2em;
 }

 .botonesRapidos {
    background-image: linear-gradient(black, white, white, white, black);
    padding: 0.9em;
 }

 .infovegan {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
     height: auto;
     width: auto;

 }


 .why {
     background-color: black;
     color: white;

     padding: 1em;

     display: flex;
     justify-content: center;
     align-items: center; 

     font-size: 0.5em;
 }

 .whytext {

     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.7em;
 }

 .imgfree {
     border-radius: 25%;

     height: 15em;
    

     transition: 2s;
     rotate: 0deg;
 }

 .imgfree:hover {
     border-radius: 15%;
     height: 20em;
     transition: 2s;
     margin-left: 5em;
     margin-bottom: 3em;
     rotate: 360deg;
 }

 .imgvibes {
     height: auto;
     width: auto;
     margin-left: 10em;
     margin-right: 10em;

 }

 .entrantes {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.5em;
     color: #000000;
     background-color: #fff;
     font-size: 2em;

     background-image: linear-gradient(black, white, white, white, black);

 }

 .plato1 {

     color: yellow;
     width: auto;

     display: flex;
     justify-content: center;
     align-items: center;

     height: auto;
     padding-top: 1em;

 }

 .margen {
     width: 8em;


     color: white;
 }

 .caja {
     display: flex;
     justify-content: center;
     align-items: center;

 }


 .menux {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .card {
     width: 250px;
     height: 300px;
     overflow: hidden;
     position: relative;
 }

 .card-img {

     position: absolute;
 }

 .card-title {
     color: #fff;
     text-shadow: 0.06em 0.09em 0.09em black;

 }

 .card-img-overlay:hover {

     backdrop-filter: blur(1.5px);
 }

 .precio {
     color: transparent;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2em;
 }

 .precio:hover {
     color: white;
     text-shadow: 0.06em 0.09em 0.09em black;

 }

 .reservaRapida {

    position: sticky;
    top:0;
    margin: 0;
    width: 100vw;
    padding: 0.5em;
    z-index: 100;
    border: 0.05em solid black;
    background-color: rgb(0, 0, 0);
   
    
 }

 .botonY{
    color: rgb(200, 255, 18);
    text-shadow: 0.07em 0.05em rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 1em;
 }

 .desplegable {

     padding: 1em;
     gap: 0.5em;
 }

 h1 {
     color: red;
     text-shadow: 0.05em 0.02em rgb(255, 255, 255);
     font-size: 2em;
     text-align: left;
 }

 .flotantes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
 }

 .cartass{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;

 

 }

.cartasize{
    height: 5em;
    width: 14em; 
 }

 .fotocarta{
    
    object-fit: cover;
    width:100%;
    height:100%;
  
    
 }


 .cartasize:hover{
    
   height: 6em;
   width: 15em;
  
    
 }

 .datos{
   padding: 3em;
 }

 .ulti{
    padding-top: 0;
    margin-top: 0;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    text-align: justify;
 }
 
 p{
    text-align: justify;
 }

.barraabajo{
    height: 2em;
    background-color: #000000;
    width: 100vw;
}

letrapie{
    background-color: #fff;
}

.imgvida{
   
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  

}

@keyframes example {
    0%   {  bottom: 0px; top:0px;}
    25%  {  bottom: 0px; top: 20px;}
    50%  {  bottom:-100px; top:20px;}
    75%  { bottom: 0px; top: -20px;}
    100% { bottom: 0px; top: -20px;}
  }

.gbtop{
    font-size: 4em;
}

 